* {
    z-index: 0;
    transform: translate(-50%, -50%);
}

::slotted(*) {
    z-index: 1;
}

p.top {
    top: 10px;
    left: 50%;
    position: fixed;
    font-size: 10pt;
    text-align: center;
    color: var(--font-color);
    pointer-events: none;
}

#agent-canvas {
    top: 50%;
    left: 50%;
    z-index: 1;
    position: fixed;
    pointer-events: auto;
    touch-action: none;
}

button[type="button"] {
    right: 15px;
    bottom: 15px;
    position: fixed;
    z-index: 10;
    pointer-events: auto;
}

custom-shape {
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    pointer-events: none;
}

div.bacground {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    position: fixed;
    overflow: hidden;
    background-color: var(--primary-color);
}

:host-context(body[theme="dark"]) div.bacground::before {
    inset: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    background:
        repeating-linear-gradient(0deg,
            #062627 0px,
            #062627 1px,
            transparent 1px,
            transparent 3px);
}